{

     --Flashcord-Configurator: "Build 240719";

     --Flashcord-Module_Idle_Optimizations: FCM-Idle_Max;

     --Flashcord-Module_Chat-Slide: void;

     --Flashcord-Module_Member-Slide: void;

     --Flashcord-Module_Guild-Notification: FCM-Guild_Notification-Static;

     --Flashcord-Module_Channel-Notification: FCM-Channel_Notification-Static;

     --Flashcord-Module_Role-Grid: void;

}